# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
/bin
*.exe
*.out
*.app

# VS Files (includes things I never used and command line flags for compilation)
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
/.vs
